<h1>Editing Person</h1>

<%= render 'form', person: @person %>

<%= link_to 'Show', @person %> |
<%= link_to 'Back', people_path %>

<h2>Mocha Tests<h2>
<input value="555 273 8535" type="text" name="person[home_phone]" id="input2"/>

<div id="mocha"></div>

<script type="module" src="https://unpkg.com/chai/chai.js"></script>
<script type="module" src="https://unpkg.com/mocha/mocha.js"></script>

<script type="module" class="mocha-init">
    mocha.setup('bdd');
</script>
<script type="module" src="/mocha/phone_input_international/attachTest.js"></script>
<script type="module" src="/mocha/phone_input_international/dataTest.js"></script>
<script type="module" src="/mocha/phone_input_international/handleTest.js"></script>
<script type="module" src="/mocha/phone_input_international/countryPickerTest.js"></script>
<script type="module" src="/mocha/phone_input_international/normalizerTest.js"></script>
<script type="module" src="/mocha/phone_input_international/placeholderTest.js"></script>
<script type="module" class="mocha-exec">
    mocha.run();
</script>