<h1>Editing Person</h1>

<%= render 'form', person: @person %>

<%= link_to 'Show', @person %> |
<%= link_to 'Back', people_path %>

<h2>Mocha Tests<h2>
<input value="555 273 8535" type="text" name="person[home_phone]" id="input2"/>

<div id="mocha"></div>

<script src="https://unpkg.com/chai/chai.js"></script>
<script src="https://unpkg.com/mocha/mocha.js"></script>

<script class="mocha-init">
    console.log("MOCHA START")
    mocha.setup('bdd');
</script>
<%# <script src="/mocha/phone_input_international/data_test.js"></script> %>
<%# <script src="/mocha/phone_input_international/handle_test.js"></script> %>
<script type="module" src="/mocha/phone_input_international/attach_test.js"></script>
<script type="module" class="mocha-exec">
    mocha.run();
    console.log("MOCHA FINISH")
</script>