<h1>Editing Person</h1>

<%= render 'form', person: @person %>

<%= link_to 'Show', @person %> |
<%= link_to 'Back', people_path %>

<h2>Mocha Tests<h2>
<input value="555 273 8535" type="text" name="person[home_phone]" id="input2"/>

<div id="mocha"></div>

<script src="https://unpkg.com/chai/chai.js"></script>
<script src="https://unpkg.com/mocha/mocha.js"></script>
<script src="https://unpkg.com/libphonenumber-js@1.9.11/bundle/libphonenumber-max.js"></script>

<script class="mocha-init">
    mocha.setup('bdd');
    mocha.growl();
</script>
<script src="/mocha/phone_input_international_test.js"></script>
<script src="/mocha/phone_input_international_numbers_test.js"></script>
<script src="/mocha/phone_input_utilities_test.js"></script>
<script class="mocha-exec">
    mocha.run();
</script>